<div class="ui text container" id="home_textarea">
  <form action="/save" method="post">
    <div class="ui form">
      <div class="field">
        <label>Today's Reflection</label>
        <textarea name='content'></textarea><br><br>
        <button class='ui teal basic button' type='submit' value='save'>save</button>
      </div>
    </div>
  </form>
</div>

