<div class="container" id="home_textarea">
  <div class="row">
    <form class="col s12" action="/save" method="post">
      <div class="row">
        <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea" name="content"></textarea>
            <label for="textarea1">today's reflection</label>
          </div>
          <button class="btn waves-effect blue-grey darken-2 waves-light" type="submit">save</button>
      </div>
    </form>
  </div>
</div>
