<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/materialize.css">
  <link rel="stylesheet" href="/css/custom.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <title></title>
</head>
<body>
<header id="header"><i class="small material-icons icon-white">subject</i></header>

  <main>
    <%= yield %>
  </main>

  <script src="/js/init.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/materialize.js"></script>
</body>
</html>
