<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <link rel="stylesheet" href="/css/custom.css">
  <title>reflections today</title>
</head>
<body>


<div class="ui teal pointing menu">
  <a class="active pointy item" href="/today">
    today
  </a>
  <a class="pointy item" href="/posts">
    yesterday
  </a>
  <a class="item">
    over time
  </a>

  <div class="right menu">
    <a class='item' href='/logout'>logout</a>
  </div>

</div>
<h1 class="ui orange header">reflect</h1>

<div class="ui container">

<div class="yield">
  <%= yield %>
</div>
</div>




  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="semantic/dist/semantic.min.js"></script>
  <script src="js/application.js"></script>
</body>
</html>
