<br>
<div class="ui inverted relaxed divided list">
  <% @posts.each do |post| %>
    <div class="item">
      <i class="large inverted orange bookmark middle aligned icon"></i>
      <div class="content">
        <a href="/posts/<%= post.id %>" class="post header" ><%= post.created_at.strftime("%B %d, %Y") %></a>
        <div class="description"><%= post.text[0..300]%>...</div>
      </div>
    </div>
  <% end %>
</div>

